#kc-locale {
  display: none;
}

.kc-logo-text {
  display: none;
}

.login-page {
  padding: 1%;
  max-width: 50rem;
  margin: auto;
}

#kc-header {
  background: url('../mygento.svg') no-repeat center;
  height: 10rem;
}

#kc-header-wrapper {
  display: none;
}

#kc-page-title {
  display: none;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  margin: 1rem 0;
  display: block;
}

.form-group input {
  border: 0;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}

.kc-badge {
  background: url('../badge.svg') no-repeat center;
  background-position: 0 4rem;
  max-width: 20rem;
  width: 100%;
  display: none;
  max-height: 35rem;
}

.pf-c-button.pf-m-control {
  display: none;
}

@media screen and (min-width:768px) {
  #kc-content-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  #kc-form {
    padding-top: 8rem;
    padding-bottom: 8rem;
    width: 100%;
    max-width: 20rem;
  }

  .kc-badge {
    display: block;
  }

  .kc-badge::after {
    font-size: 0.85rem;
    display: block;
    content: 'Please attach your corporate badge to the screen or use this form to log in'
  }
}

@media screen and (min-width:1024px) {
  .login-page {
    padding: 3% 5%;
  }
}
