.welcome-title {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
}

.darker_than_black {
  color: #111;
  position: absolute;
  right: 0;
  bottom: 0;
}

.darker_than_black:visited {
  color: #111;
}

.welcome-container {
  max-width: 30rem;
}
